
body{
    height: 100%;
    min-height: 100%;
    background-size: cover;
    text-align: center;

    background-position: center;
    background-repeat: repeat;
    background-color: rgb(177, 177, 177);
    color:black;
}
.container {
    margin-top: 75px;
    text-align: center;
    margin-right:15%;
    margin-left: 15%
}
.imagerow {
    margin-bottom: 25px;
    margin-top: 50px
}
.slashaCont {
    text-align: left;
    width: 70%;
}
.slashaadmin {
    height:400px;
    width: 600px;
}
.slashamenu {
    height:400px;
    width: 600px;
}
.heroImage {
    height: 400px;
    width: 250px;
    margin: auto
}
.slashaImage {
    margin:auto
}
.card {
    border-radius:15px;
    background-color:whitesmoke;
    border-style: solid;
    padding: 35px;
    align-content: center;
    text-align: center;
    border-color: whitesmoke;
    border-width: 10px;
    width: 70%;
    margin-bottom: 60px;
    margin-left: 15%;
    margin-right: 15%;
   
}
.contactInfoCard{
    width:700px;
    margin-left:auto;
    margin-right:auto;
    height: 65px;

}
.footer{
    background-color: rgb(55, 105, 128);

    height: 50px;

}
.navbar {
    color: whitesmoke;
    background-color: rgb(55, 102, 124);
    height: 75px;
}
.nav-link {
    color: whitesmoke
}
.navbar-brand {
    color: whitesmoke
}
.brandStatement {
    width: 70%;
    text-align: left;
    font-size: 20px;
    margin-left:12%;
    margin-right:18%;
    text-indent: 25px
}
.fbLink {
    background-color: rgba(1, 1, 231, 0.781);
padding: 10px;
border-radius:25px;
}
.ghLink {
    background-color: black;
    padding: 10px;
    border-radius:25px;
}
.liLink {
    background-color: rgba(0, 0, 139, 0.733);       
    padding: 10px;
    border-radius:25px;
}
.iconListItem {
position:relative;
    color: white;
    top: 15px;

}
.email{
    color: white;
    position:relative;
    background-color: rgb(87, 103, 110);;
    padding: 10px;
    border-radius:25px;
}
.brandGreeting {
    color:white
}
.list-group {
    color: white;
    margin: 20px;
}
.list-group-item {
    margin: 10px;

}
